<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create user</title>
	<style>
		input[type="optional"] {
			height:200px;
		}
	</style>
</head>
<body>
	<br>
	<h1> Create user </h1>
	<form id="userCreate" method="POST" action="index.php">
  		<label for="username">Username</label> <input type="text" name="createUsername" id="loginUname" placeholder="email address"> <br>
  		<label for="createPassword">Password</label> <input type="password" name="password" id="loginPwd"><br>
  		<label for="createOptional">Optional</label> <input type="optional" name="CreateOptional" id="loginPwd"><br>
  <input type="submit" value="Create user" name="createUser">
</form>
</body>
</html>