<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FAIL</title>
	<style>
		h1 {
			color: red;
		}
	</style>
</head>
<body>
	<h1>FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
	FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br>
FAILFAILFAIFALAILFAILFAIFALAILFAIFAL<br></h1>
</body>
</html>