@media (min-width: 800px){
.container {
      border: 1px dashed black;
      display: grid;
      width: 780px;
      height: 100vh;
      grid-template-columns: 120px 1fr 120px;
      grid-template-rows: 80px 1fr 50px;
      grid-template-areas:
        "header header  header"
        "nav article sidebar"
        "footer footer footer";
   }
  }
@media (min-width: 480px) and (max-width: 800px){
.container {
      border: 1px dashed black;
      display: grid;
      width: auto;
      height: 100vh;
      grid-template-columns: 120px 1fr;
      grid-template-rows: 80px auto auto 50px;
      grid-template-areas:
        "header  header"
        "nav article"
	"sidebar article"
        "footer footer";
   }
  }
@media (max-width: 700px){
.container {
      border: 1px dashed black;
      display: grid;
      width: 780px;
      height: 100vh;
      grid-template-columns: auto;
      grid-template-rows: 80px auto auto auto 50px;
      grid-template-areas:
        "header"
        "article"
	"sidebar"
	"nav"
        "footer";
   }
  }

    .header {
      grid-area: header;
      height: 100%;
      width: 100%;
      background-color: green;
    }
    .article {
      grid-area: article;
      height: 100%;
      width: 100%;
      background-color: yellow;
    }
    .nav {
      grid-area: nav;
      height: 100%;
      width: 100%;
      background-color: blue;
      color: hotpink;
    }   
    .nav a {
      color: yellow;
    }
    .sidebar {
      grid-area: sidebar;
      height: 100%;
      width: 100%;
      background-color: orange;
    }
    .footer {
      grid-area: footer;
      height: 100%;
      width: 100%;
      background-color: red;
    }

